
body {
	background-color: #2F3030;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #F0F0F0;
	background-color: #2F3030;
	border-color: #5C6166 #5C6166 transparent;
}

.nav-tabs {
	border-bottom: 1px solid #5C6166;
}

.crowdmix-logo {
	max-height: 120pt !important;
	display: block;
	margin: 20pt auto;
}

.main-view {
	padding-top: 5pt;
	left: 0;
	right: 0;
}

.text-box {
	border-radius: 5px;
	border: none;
	background-color: #F0F0F0;
	height: 20pt;
	padding-left: 5pt;
	margin-bottom: 5pt;
	min-width: 200pt;
}

.filter-button {
  	border: 0 none;
  	border-radius: 5px;
  	height: 20pt;
  	background-color: #BABABA;
}

.button-container {
	margin-bottom: 10pt;
}

.build-outer-box {
    overflow: hidden;
    text-overflow: ellipsis;
	padding: 3pt;
}

.build-inner-box {
	color: black;
	border-radius: 3pt;
	padding: 3pt;
	height: 75pt;
	overflow: hidden;
}

.saved-filter-box {
	cursor: pointer;
    height: 30pt;
    background-color: #5A98D6; 
    width: auto;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin-bottom: 5pt;
}

.progress-bar-background {
	overflow: hidden;
	position: relative;
    margin-top: 5pt;
    height: 20px; 
    width: 100%;
    background-color: #2F3030;
    border-radius: 5px;
    padding: 2px;
}

.progress-bar {
	overflow: hidden;
	position: absolute;
    height: 16px; 
    border-radius: 2px;
    max-width: 98%;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0); 
    box-shadow: inset 0 0 0 rgba(0,0,0,0); 
}

.close-filter-button {
    position: absolute;
    right: 0;
    text-align: center; 
    font-size: 8pt; 
    height: 10pt; 
    width: 10pt; 
    font-weight: bold;
}

.saved-filter-text {
    text-align: center; 
    margin-top: 8pt;
}

.green-color {
	background-color: #78D699;
}

.red-color {
	background-color: #BF4949;
}

.grey-color {
	background-color: #838587;
}

.sidebar {
    position : absolute;
    top : 0;
    bottom: 0;
    left : -250pt;
    transition : 100ms left;
    z-index: 2;
    background-color: #616363;
    padding: 10pt;
}

#navigation-toggle {
        position : absolute;
        left : 220pt;
        background-color: #5A98D6;
        color : white;
        padding : 5px;
        margin-top: 10pt;
        border-radius: 0 5px 5px 0;
        z-index: 1;
        padding-left: 35pt;
}

.show {
    left : 0;
}

.navigation {
	padding-left: 0;
}

.build-name-text {
	font: 16pt bold arial, sans-serif;
}

.project-name-text {
	font: 12pt arial, sans-serif;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

h1 {
	font-size: 45pt;
}
